/.metadata/

# Created by https://www.toptal.com/developers/gitignore/api/c,cmake
# Edit at https://www.toptal.com/developers/gitignore?templates=c,cmake

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### Directory
../jn5189dk6_usart_transfer_PRINT/
../jn5189dk6_usart_transfer_SEND/
../jn5189dk_esp_nxp_usart_led/
../.mcuxpressoide_packages_support/
../.vscode/
../AzureRTOS_TAD_logs/
../FreeRTOS_TAD_logs/
../ZephyrRTOS_TAD_logs/
../jn5189dk6_freertos_hello/
../jn5189dk6_freertos_usart/
../jn5189dk6_freertos_usart_RX/
../jn5189dk6_led_blinky/
../jn5189dk6_usart_esp_nxp_protocol/Debug/
../jn5189dk6_zigbee_coordinator_bm/.settings/
../jn5189dk6_zigbee_coordinator_bm/Coordinator/Source/
../jn5189dk6_zigbee_router_bm/Debug/
../jn5189dk6_zigbee_router_bm/.settings/
../jn5189dk6_zigbee_router_bm/Coordinator/Source/
/*/.setting/

### CMake Patch ###

# External projects
*-prefix/

# End of https://www.toptal.com/developers/gitignore/api/c,cmake